<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>cc-shop</display-name>
  <welcome-file-list>
    <welcome-file>views/index.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
        <!-- Set session timeout in minutes -->
        <session-timeout>1600</session-timeout>
    </session-config>

  
  <!-- Start Admin Controller -->
  	<servlet>
	    <servlet-name>AdminController</servlet-name>
	    <servlet-class>Controllers.AdminController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/AdminController</url-pattern>
	</servlet-mapping>
	
	<!-- End of Admin Section -->
	
	<!-- Seller Controller -->
	
	
	<!-- End of seller controller -->
	
	<!-- User Controller -->
	<servlet>
	    <servlet-name>UserController</servlet-name>
	    <servlet-class>Controllers.UserController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>UserController</servlet-name>
	    <url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<!-- End of user controller -->
	
	<!-- User Controller -->
	<servlet>
	    <servlet-name>LoginController</servlet-name>
	    <servlet-class>Controllers.LoginController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>LoginController</servlet-name>
	    <url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<!-- End of user controller -->
	
	<!-- User Controller -->
	<servlet>
	    <servlet-name>RegisterController</servlet-name>
	    <servlet-class>Controllers.RegisterController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>RegisterController</servlet-name>
	    <url-pattern>/RegisterController</url-pattern>
	</servlet-mapping>
	<!-- End of user controller -->
	
	<!-- Category Controller -->
	<servlet>
	    <servlet-name>CategoryController</servlet-name>
	    <servlet-class>Controllers.CategoryController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>CategoryController</servlet-name>
	    <url-pattern>/CategoryController</url-pattern>
	</servlet-mapping>
	<!-- End of user controller -->
	
	<!-- Business Controller -->
	<servlet>
	    <servlet-name>BusinessController</servlet-name>
	    <servlet-class>Controllers.BusinessController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>BusinessController</servlet-name>
	    <url-pattern>/BusinessController</url-pattern>
	</servlet-mapping>
	<!-- End of business controller -->
	
	<!-- Business Controller -->
	<servlet>
	    <servlet-name>PasswordController</servlet-name>
	    <servlet-class>Controllers.PasswordController</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>PasswordController</servlet-name>
	    <url-pattern>/PasswordController</url-pattern>
	</servlet-mapping>
	<!-- End of business controller -->
	
	
	
	
	
  
</web-app>